.settings/org.eclipse.jdt.core.prefs
2014_09_24_selfPortrait.png
*.jpg
fillAlgorithm.png
random00.png
regionInternalExplanation.png
results/andromeda_BOTH_1000.png
results/chillTiger_DIAGONAL_2069.png
results/chillTiger_DIAGONAL_2069_Basic.png
results/frog_BOTH_1269.png
results/greenWheatFieldAuvers_BOTH_1250.png
results/poisonDartFrog_STRAIGHT_1537_FilledWireframe.png
results/starryNight_BOTH_3733_Basic.png
results/starryNight_BOTH_3733_FilledWireframe.png
test.png
.project
.classpath